[MASTER]
ignore=venv,env,__pycache__

[MESSAGES CONTROL]
disable=C0114,C0115,C0116

[FORMAT]
max-line-length=150
indent-string='    '

[DESIGN]
max-args=10
max-locals=20
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=10

[TYPECHECK]
ignore-mixin-members=yes

[REPORTS]
output-format=colorized
reports=no

[LOGGING]
logging-modules=logging

[SIMILARITIES]
min-similarity-lines=4

[VARIABLES]
additional-builtins=

[IMPORTS]
extension-pkg-whitelist=

[PYTHON3]

[REFACTORING]

[EXCEPTIONS]
overgeneral-exceptions=Exception
